<template>
    <div class="min-width-400px m-auto h-full w-full">
        <theGame />
    </div>
</template>

<script>
import theGame from './components/TheGame.vue'

export default {
    components: {
        theGame,
    },
    name: 'App',
    data() {
        return {}
    },
}
</script>
<style>
.min-width-400px {
    min-width: 400px;
}
</style>
