<template>
    <div
        class="
            font-medium
            border-gray-600 border
            rounded-lg
            cursor-pointer
            flex
            justify-center
            items-center
            text-lg
            transform
            hover:scale-110
            transition-all
        "
    >
        <slot />
    </div>
</template>
